# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

.*.swp
*.*~
*.kdev4
*.kate-swp
build
#results
*.sol

# Latex stuff
*.aux
*.log
results/Report*.pdf
results/graphs/*.pdf
